@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 137 27% 91%;
    --foreground: 147 50% 16%;
    --card: 137 27% 95%;
    --card-foreground: 147 50% 16%;
    --popover: 137 27% 95%;
    --popover-foreground: 147 50% 16%;
    --primary: 147 50% 36%;
    --primary-foreground: 147 50% 96%;
    --secondary: 137 15% 85%;
    --secondary-foreground: 147 50% 26%;
    --muted: 137 15% 88%;
    --muted-foreground: 147 30% 45%;
    --accent: 43 89% 41%;
    --accent-foreground: 43 89% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 137 15% 80%;
    --input: 137 15% 80%;
    --ring: 147 50% 36%;
    --chart-1: 147 70% 40%;
    --chart-2: 43 80% 50%;
    --chart-3: 200 80% 50%;
    --chart-4: 0 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 23%;
    --foreground: 210 40% 98%;
    --card: 210 10% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 147 50% 46%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 30%;
    --muted-foreground: 210 40% 70%;
    --accent: 43 89% 51%;
    --accent-foreground: 43 89% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 147 50% 56%;
    --chart-1: 147 70% 50%;
    --chart-2: 43 80% 60%;
    --chart-3: 200 80% 60%;
    --chart-4: 0 74% 76%;
    --chart-5: 27 87% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
